# ignore all file in folder Source Code
Source Code/
build/
dist/
logs/
DOE_graphing/

# ignore python virtual environment
.venv/
.venv_clean/
venv/
env/
Lib/
Scripts/

# ignore MicroPico extension idenity file
temp/
.micropico

# exclude by extension
*.chk
*.cdxml
*.com
*.exe
*.lck
*.lock
*.log
*.mae
*.maegz
*.micropico
*.pkl
*.pyo
*.pyc
*.png
*.sdf
*.xlsx
*.zip
.DS_Store